<app-header></app-header>

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">	
            <!-- post -->
            <div *ngFor="let blog of blogs?.slice(blogs.length-2)" class="col-md-6">
                <div class="post post-thumb">
                    <a class="post-img" routerLink="/blog-post/{{blog?.id}}"><img [src]="blog?.mainImage" height="170" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category"
                            [ngClass]="{
                            'cat-1': check(blog?.category, 'Fashion'),
                            'cat-2': check(blog?.category, 'Music'),
                            'cat-3': check(blog?.category, 'Sports'),
                            'cat-4': check(blog?.category, 'Technology') }" href="category.html">{{blog?.category}}</a>
                            <span class="post-date">{{blog?.date | date }}</span>
                        </div>
                        <h3 class="post-title"><a routerLink="/blog-post/{{blog?.id}}">{{blog?.headline}}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            <!-- post -->

            <!-- /post -->
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Recent Posts</h2>
                </div>
            </div>

            <!-- post -->
            <div *ngFor="let blog of blogs" class="col-md-4">
                <div class="post">
                    <a class="post-img" routerLink="/blog-post/{{blog?.id}}"><img [src]="blog?.mainImage" height="140" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category"
                            [ngClass]="{
                                'cat-1': check(blog?.category, 'Fashion'),
                                'cat-2': check(blog?.category, 'Music'),
                                'cat-3': check(blog?.category, 'Sports'),
                                'cat-4': check(blog?.category, 'Technology') }"href="category.html">{{blog?.category}}</a>
                            <span class="post-date">{{blog?.date | date }}</span>
                        </div>
                        <h3 class="post-title"><a routerLink="/blog-post/{{blog?.id}}">{{blog?.headline}}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            
        </div>
        <!-- /row -->

        <!-- row -->
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Featured Posts</h2>
                </div>
            </div>

            <!-- post -->
            <div *ngFor="let blog of featureBlogs" class="col-md-4">
                <div class="post">
                    <a class="post-img" routerLink="/blog-post/{{blog?.id}}"><img [src]="blog?.mainImage" alt=""height="140" ></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category"
                            [ngClass]="{
                                'cat-1': check(blog?.category, 'Fashion'),
                                'cat-2': check(blog?.category, 'Music'),
                                'cat-3': check(blog?.category, 'Sports'),
                                'cat-4': check(blog?.category, 'Technology') }"href="category.html">{{blog?.category}}</a>
                            <span class="post-date">{{blog?.date | date }}</span>
                        </div>
                        <h3 class="post-title"><a routerLink="/blog-post/{{blog?.id}}">{{blog?.headline}}</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
            <!-- /post -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Most Read</h2>
                        </div>
                    </div>
                    <!-- post -->
                    <div *ngFor="let blog of mostReadBlogs" class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" routerLink="/blog-post/{{blog?.id}}"><img [src]="blog?.mainImage" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category"
                            [ngClass]="{
                                'cat-1': check(blog?.category, 'Fashion'),
                                'cat-2': check(blog?.category, 'Music'),
                                'cat-3': check(blog?.category, 'Sports'),
                                'cat-4': check(blog?.category, 'Technology') }"href="category.html">{{blog?.category}}</a>
                                    <span class="post-date">{{blog?.date | date}}</span>
                                </div>
                                <h3 class="post-title"><a routerLink="/blog-post/{{blog?.id}}">{{blog?.headline}}</a></h3>
                                <p>{{blog?.paragraph1.slice(0,5)}}...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="assets/img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /ad -->
                
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Catagories</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            <li *ngFor="let category of categories" >
                                <a routerLink="/category/{{category?.name}}" 
                                class="{{category?.cla}}">{{category?.name}}
                                <span></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
                
                <!-- tags -->
                <!-- /tags -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<app-footer></app-footer>
